DATABASE_URL=file:./dev.db
BETTER_AUTH_SECRET="randomly-generated-str"
BETTER_AUTH_URL=http://localhost:3000
EMAIL_USER="sallyduru63@gmail.com"
EMAIL_PASS="pgpxzcjsgfrjkofa"
EMAIL_FROM="sallyduru63@gmail.com"
EMAIL_HOST=smtp.gmail.com
UPLOAD_STORAGE_PATH="public/images"
