@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --color-brand-50: #fff1f5;
  --color-brand-100: #ffe4ec;
  --color-brand-200: #fecdd9;
  --color-brand-300: #fda4bb;
  --color-brand-400: #fb6f97;
  --color-brand-500: #e0004d;
  --color-brand-600: #c70045;
  --color-brand-700: #a5003a;
  --color-brand-800: #880031;
  --color-brand-900: #73042d;

  --color-surface: #f9fafb;
}

:root {
  --ui-bg: #f9fafb;
  --ui-bg-muted: #f3f4f6;
  --ui-text: #111827;
  --ui-text-muted: #6b7280;
  --ui-border: #e5e7eb;
  --ui-primary: #e0004d;
}

html,
body,
#__nuxt {
  min-height: 100%;
  background-color: #f9fafb;
}